table {
  border: 1px;
  width: 100%;
  text-align: center;
  border-style: solid;
}

th, td {
  width: calc(100% / 7);
  border: 1px;
  border-style: dotted;
}

.thisIsIt {
  background-color: lightgreen;
}

.section_top {
  display: flex

}

@media (max-width: 640px) {
  .section_top {
    flex-direction: column;
  }
}

.selectionButton {
  margin-top: 30px;
  width: 100%;
}

.div_top {
  flex: auto;
}
